<div class="bg-indigo-900 w-screen h-screen">
    <div class="h-1/6 w-full flex justify-center items-end">
        <div class="flex justify-center mb-4">
            <div>
                <img src="../../../assets/img/logo.svg" alt="logo">
            </div>
            <div class="text-white">
                <h2 class="text-5xl font-extrabold">
                    SDS
                </h2>
                <h3 class="text-2xl">
                    Morelos
                </h3>
            </div>
        </div>
    </div>
    <div class="h-5/6 w-full bg-gray-100 rounded-3xl">
        <div class="flex justify-center items-center mt-5">
            <h2 class="text-2xl font-bold mt-5">Creá tu cuenta</h2>
        </div>
        <div>
            <form>
                <div class="block m-auto text-start">
                    <label class="text-sm block ml-auto mr-auto mb-1 font-semibold block w-5/6" for="name">Nombre</label><br>
                    <input class="bg-white rounded h-10 w-5/6 border border-gray-600 block ml-auto mr-auto" type="text" name="name" id="name">
                </div>
                <div class="block m-auto mt-10 text-start">
                    <label class="text-sm block ml-auto mr-auto mb-1 font-semibold block w-5/6" for="name">Apellido</label><br>
                    <input class="bg-white rounded h-10 w-5/6 border border-gray-600 block ml-auto mr-auto" type="text" name="apellido" id="apellido">
                </div>
                <div class="block m-auto text-start mt-5">
                    <label class="text-sm block ml-auto mr-auto mb-1 font-semibold block w-5/6" for="name">¿Actualmente eres?</label><br>
                    <div class="flex justify-evenly items-center">
                        <div class="flex">
                            <label class="mr-5" for="">Alumno</label>
                            <input type="radio" name="" id="">
                        </div>
                        <div class="flex">
                            <label class="mr-5" for="">Alumno</label>
                            <input type="radio" name="" id="">
                        </div>
                    </div>
                    <div>
                        <div class="block m-auto mt-10 text-start">
                            <label class="text-sm block ml-auto mr-auto mb-1 font-semibold block w-5/6" for="name">Contraseña</label><br>
                            <input class="bg-white rounded h-10 w-5/6 border border-gray-600 block ml-auto mr-auto" type="password" name="apellido" id="apellido">
                        </div>
                        <div class="block m-auto mt-10 text-start">
                            <label class="text-sm block ml-auto mr-auto mb-1 font-semibold block w-5/6" for="name">Confirmar Contraseña</label><br>
                            <input class="bg-white rounded h-10 w-5/6 border border-gray-600 block ml-auto mr-auto" type="password" name="apellido" id="apellido">
                        </div>
                    </div>
                </div>
                <div class="w-3/4 m-auto mt-5 rounded-xl bg-violet-900 text-white text-center p-5 text-xl font-semibold">
                    <button>Continuar</button>
                </div>
            </form>
        </div>
    </div>
</div>

