<div class="bg-indigo-900 w-screen h-screen">
    <div class="h-1/2 w-full flex justify-center items-end">
        <div class="flex justify-center mb-10">
            <div>
                <img src="../../../assets/img/logo.svg" alt="logo">
            </div>
            <div class="text-white">
                <h2 class="text-5xl font-extrabold">
                    SDS
                </h2>
                <h3 class="text-2xl">
                    Morelos
                </h3>
            </div>
        </div>
    </div>
    <div class="h-1/2 w-full bg-white rounded-3xl">
        <div class="flex justify-center items-center mt-5">
            <h2 class="text-2xl font-bold mt-5">Bienvenido a bordo</h2>
        </div>
        <div class="flex justify-center items-center text-center text-gray-400">
            <p>Bienvenido a la app de la Secretaría de Desarrollo Sustentable del Estado de Morelos</p>
        </div>
        <div>
            <div class="w-3/4 m-auto mt-5 rounded-xl bg-violet-900 text-white text-center p-5 text-xl font-semibold">
                <button>
                    <p>Iniciar Sesión</p>
                </button>
            </div>
            <div class="w-3/4 m-auto mt-5 border border-violet-900 rounded-xl bg-white text-violet-900 text-center p-5 text-xl font-semibold">
                <button>
                    <p>Registrate</p>
                </button>
            </div>
        </div>
    </div>
</div>
